@import 'src/styles/colors';
@import 'src/styles/task-colors';
@import 'src/styles/status-colors';

:host {
  display: block;
  border-left: 1px solid $color-border;
  background-color: $color-background;
}

.aside {
  width: 0;
  transition: all ease-in-out .3s;
  overflow: hidden;

  &_opened {
    width: 400px;
  }
}
