$color-white: #fff;
$color-black: #000;
$color-background: #f5f5f5;
$color-border: #ccc;
$color-label: #707070;

$color-lightblue: #55ACCF;


$color-task: #bfe4ff;
$color-bugfix: #cc0000;
$color-subtask: #009999;
$color-story: #8dc9cb;
$color-epic: #bf9b1e;


$color-status-init: #4a6785;
$color-status-init-text: $color-white;
$color-status-progress: #ffd351;
$color-status-progress-text: #594300;
$color-status-done: #14892c;
$color-status-done-text: $color-white;
