@import 'src/styles/colors';

.b-task {
  background-color: $color-task;

  &_border {
    border-color: $color-task;
  }
}

.b-bugfix {
  background-color: $color-bugfix;

  &_border {
    border-color: $color-bugfix;
  }
}

.b-epic {
  background-color: $color-epic;

  &_border {
    border-color: $color-epic;
  }
}

.b-story {
  background-color: $color-story;

  &_border {
    border-color: $color-story;
  }
}

.b-subtask {
  background-color: $color-subtask;

  &_border {
    border-color: $color-subtask;
  }
}
