@import 'src/styles/colors';

:host {
  display: block;
  border-right: 1px solid $color-border;
  background-color: $color-background;
}

.sidebar {
  width: 0;
  transition: all ease-in-out .3s;

  &_opened {
    width: 300px;
  }
}
