<div class="dashboard">
  <div *ngFor="let column of dashboard"
      class="header-column">
    <div class="header-title">
      {{column.title}}
    </div>
  </div>
  <div *ngFor="let column of dashboard; let i = index"
      id="{{i}}"
      class="column"
      [dragula]="columns"
      [(dragulaModel)]='column.list'>
    <div *ngFor='let item of column.list'
         class="item"
         (click)="moreInformation(item)">
      <div class="type-color"
           [ngClass]="chooseColorTask(item.type)" ></div>
      <div class="title">{{item.task}}-{{item.number}}</div>
      <div class="type">{{item.type}}</div>
      <div class="description">{{item.description}}</div>
    </div>
  </div>
</div>
<aside class="aside" [item]="currentSelect" (close)="closeAside()">
</aside>
