@import 'src/styles/colors';
@import 'src/styles/task-colors';

:host {
  display: flex;
  width: 100%;
}

.dashboard {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 44px 1fr;
  grid-column-gap: 8px;
  flex-grow: 1;
  padding: 20px;
  overflow: auto;
}

.aside {
  flex-shrink: 0;
}

.column {
  background-color: $color-background;
}

.column-title {
  padding: 0 12px;
}

.item {
  position: relative;
  min-height: 66px;
  padding: 10px 10px 10px 38px;
  border: 1px solid $color-border;
  background-color: $color-white;
  cursor: move;

  & + & {
    border-top: none;
  }
}

.type-color {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 4px;
}
